# Untracked Files In Development
loginFix.py
# Essential Files to Untrack
non-essentials
.vscode
.venv
db.*
__pycache__
*.pyc
*.pyo
migrations
docker-volumes/
**/docker-volumes/
*.zip
containerization
