
{% extends 'base.html' %}
!<!DOCTYPE html>
{% load static %}

{% block title %}Booking Form{% endblock %}

{% block content %}
<div class="container-md">
    <h1 class="mt-5">Booking Form</h1>
    <form method="post">
        {% csrf_token %}
        <div class="alert-danger">
            {% if form.errors %}
            <div class="message"><strong>Error!</strong> Please correct the errors below.</div>
            {{ form.errors }}
            {% endif %}
        </div>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Book Now</button>
    </form>
</div> 
{% endblock %}
