{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container-md mt-5" style="max-width: 90%; width: 50%;">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>

{% endblock %}

