{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.6/css/bootstrap.min.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>



    <div class="container-md mt-5" style="max-width: 90%; width: 50%;">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
    </div>

    <script src="{% static 'bootstrap-5.3.6/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
<!-- 
    Set action parameter inside form only if you want to submit the form to a specific URL.
    If you want to submit the form to the same URL, you can leave the action parameter empty or not set it at all.
    If you want to submit the form to a specific URL, you can set the action parameter like this:
    <form action="{% url 'signup' %}" method="post">
    -->