<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xSuccess Page</title>
</head>
<body>
     <link rel="stylesheet" href="../../bootstrap-5.3.6/css/bootstrap.min.css">
    <div>
        <h1>Signup Page</h1>
        <section>
            <div>
                {% for i in object_list %}
            
            </div>
            {% endfor %}
        </section>
    </div>
    <script src="../../bootstrap-5.3.6/js/bootstrap.min.js"></script>
</body>
</html>