{% extends "base.html" %}
{% load static %}


{% block title %}Login Form{% endblock %}

{% block content %}
<h2 class="text-center">Login Here</h2>
    <form method="post">
         {% csrf_token %}
        <div class="container-md mt-5">
            <div class="alert-danger">
                {% if form.errors %}
                <div class="message"><strong>Error!</strong> Please correct the errors below.</div>
                {{ form.errors }}
                {% endif %}
                  
            </div>
            {{ form.as_p }}
            <button type="submit" class="btn-primary">Login</button>
        </div>
       
      
        
    </form>
{% endblock %}
